{% extends 'base.html' %}
{% load static %}
{% block css_content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/notice.css' %}"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1463382_bajhscxfyja.css"/>
{% endblock %}
{% block title %}消息-评论{% endblock %}
{% block content %}
    <div class="container">
        <div class="container-left">
            <ul>
                <li class="active">
                    <a href="{% url 'notice:notice_comment_list' %}">
                        <i class="iconfont icon-comment1"></i>
                        <span>评论</span>
                        {% if unread_count_comment %}
                        <span class="unread-count"><span>{{ unread_count_comment }}</span></span>
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-envelopeo"></i>
                        <span>简信</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'notice:notice_likes_list' %}">
                        <i class="iconfont icon-like"></i>
                        <span>喜欢和赞</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'notice:notice_follow_list' %}">
                        <i class="iconfont icon-followed"></i>
                        <span>关注</span>
                        {% if unread_count_follow %}
                        <span class="unread-count"><span>{{ unread_count_follow }}</span></span>
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-money"></i>
                        <span>赞赏和付费</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-more"></i>
                        <span>其它提醒</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container-right">
            <div>
                <div class="menu">
                    收到的评论
                    <a href="{% url 'notice:update_comment_notice' %}" class="mark_all_read">全部已读</a>
                </div>
                <ul class="comment-list">
                    {% for notice in notice_comments %}
                        {% ifequal notice.unread 1 %}
                            <li class="unread">
                        {% else %}
                            <li>
                        {% endifequal %}
                        <a href="{%  url 'bbs:my_main_page' %}?user={{ notice.actor.id }}" class="avatar user"><img src="{{ notice.actor.userinfo.head_img.url }}"/></a>
                        <div class="info">
                            <div>
                                {% ifequal notice.verb '评论了你' %}
                                    <a href="{%  url 'bbs:my_main_page' %}?user={{ notice.actor.id }}" class="user">{{ notice.actor.userinfo.name }}</a>
                                    <span class="comment-slogan">评论了你的文章</span>
                                    <a href="{% url 'bbs:article' notice.target.id %}" class="article">《{{ notice.target.title }}》</a>
                                {% else %}
                                    <a href="{%  url 'bbs:my_main_page' %}?user={{ notice.actor.id }}" class="user">{{ notice.actor.userinfo.name }}</a>
                                    <span class="comment-slogan">回复了你在文章</span>
                                    <a href="{% url 'bbs:article' notice.target.article.id %}" class="article">《{{ notice.target.article.title }}》</a>
                                    <span class="comment-slogan">中的评论</span>
                                {% endifequal %}
                            </div>
                            <div class="time">{{ notice.timestamp|date:"Y-m-d H:i:s" }}</div>
                        </div>
                        <p>{{ notice.description }}</p>
                        <div class="meta">
                            <a href="javascript:void(0);" class="function-btn notice-reply">
                                <i class="iconfont icon-comment1"></i>
                                <span>回复</span>
                            </a>
                            <a href="{% url 'notice:update_comment_notice' %}?notice_id={{ notice.id }}" class="function-btn">
                                <i class="iconfont icon-corner-up-right"></i>
                                <span>查看对话</span>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_content %}
    <script src="{% static 'js/notice.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
