{% extends 'base.html' %}
{% load static %}
{% block title %}{{ other_user.name }}的个人主页{% endblock %}
{% block css_content %}
		<link rel="stylesheet" href="{% static 'css/info.css' %}"/>
{% endblock %}
{% block content %}
		<div class="container">
			<div class="container-left">
				<div class="main-top" data-user="{{ other_user.id }}">
					<a href="" class="avatar"><img src="{{ other_user.head_img.url }}" alt="" /></a>
					<div class="title">
						<a href="" class="name">{{ other_user.name }}</a>
                        {% ifequal other_user.sex '1' %}
						    <img src="{% static 'img/male.svg' %}" alt="" />
                            {% ifequal other_user.sex '2' %}
                                <img src="{% static 'img/female.svg' %}" alt="" />
                            {% endifequal %}
                        {% endifequal %}
					</div>
					<div class="info">
						<ul>
							<li>
								<div class="meta-block">
									<a href="">
										<p>{{ other_user.like }}</p>关注
									</a>
								</div>
							</li>
							<li>
								<div class="meta-block">
									<a href="">
										<p>{{ other_user.fans }}</p>粉丝
									</a>
								</div>
							</li>
							<li>
								<div class="meta-block">
									<a href="javascript:void(0);">
										<p>{{ other_user.article }}</p>文章
									</a>
								</div>
							</li>
							<li>
								<div class="meta-block">
									<a href="javascript:void(0);">
										<p>{{ other_user.words }}</p>字数
									</a>
								</div>
							</li>
							<li>
								<div class="meta-block">
									<a href="javascript:void(0);">
										<p>{{ other_user.loved }}</p>收获喜欢
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
				<div id="outer-container">
					<ul class="trigger-menu">
						<li><a href="javascript:void(0);"><img src="{% static 'img/icon-articles.svg' %}"/>文章</a></li>
						<li class="active"><a href="javascript:void(0);"><img src="{% static 'img/bell.svg' %}"/>动态</a></li>
						<li><a href="javascript:void(0);"><img src="{% static 'img/comments-alt.svg' %}"/>最新评论</a></li>
						<li><a href="javascript:void(0);"><img src="{% static 'img/fire.svg' %}"/>热门</a></li>
					</ul>
					<div class="list-container">
						<ul class="note-list">
							<li>
								<div class="content">
									<div class="author">
										<a href="#"><img src="{{ user_info.head_img.url }}" alt="" class="avatar" /></a>
										<div class="info">
											<a href="" class="nickname">茶点故事</a>
											<span>关注了作者 · 2小时前</span>
										</div>
									</div>
									<div class="follow-detail">			
								    	<div class="info">
								        	<a class="avatar" href="#">
								          		<img src="{% static 'img/head_img.jfif' %}" alt="180">
											</a>          
											<a class="btn btn-default"><span>已关注</span></a>
								        	<a class="title" href="#">北美之北</a>
								        	<p>写了 406317 字，被 90243 人关注，获得了 28910 个喜欢</p>
								      	</div>
								        <div class="signature">
								        	是：老司机/奶爸/吃货 写：职场的坑/父女的哏/美食的魂 版权合作事宜请联系行距文化：pub@hangju-pub.com
								        </div>
									</div>
								</div>
							</li>
							
							<li>
								<div class="content">
									<div class="author">
										<a href="#"><img src="{% static 'img/head_img.jfif' %}" alt="" class="avatar" /></a>
										<div class="info">
											<a href="" class="nickname">茶点故事</a>
											<span>喜欢了文章 · 2小时前</span>
										</div>
									</div>
									<div class="follow-detail">			
								    	<div class="info">
								        	<a class="avatar" href="#">
								          		<img src="{% static 'img/head_img.jfif' %}" alt="180">
											</a>          
											<a class="btn btn-success"><span>关注</span></a>
								        	<a class="title" href="#">北美之北</a>
								        	<p>写了 406317 字，被 90243 人关注，获得了 28910 个喜欢</p>
								      	</div>
								        <div class="signature">
								        	是：老司机/奶爸/吃货 写：职场的坑/父女的哏/美食的魂 版权合作事宜请联系行距文化：pub@hangju-pub.com
								        </div>
									</div>
								</div>
							</li>
							
							<li>
								<div class="content">
									<div class="author">
										<a href="#"><img src="{% static 'img/head_img.jfif' %}" alt="" class="avatar" /></a>
										<div class="info">
											<a href="" class="nickname">茶点故事</a>
											<span>喜欢了文章 · 2小时前</span>
										</div>
									</div>
									<div class="follow-detail">			
								    	<div class="info">
								        	<a class="avatar" href="#">
								          		<img src="{% static 'img/head_img.jfif' %}" alt="180">
											</a>          
											<a class="btn btn-default"><span>已关注</span></a>
								        	<a class="title" href="#">北美之北</a>
								        	<p>写了 406317 字，被 90243 人关注，获得了 28910 个喜欢</p>
								      	</div>
								        <div class="signature">
								        	是：老司机/奶爸/吃货 写：职场的坑/父女的哏/美食的魂 版权合作事宜请联系行距文化：pub@hangju-pub.com
								        </div>
									</div>
								</div>
							</li>
							
							<li>
								<div class="content">
									<div class="author">
										<a href="#"><img src="{% static 'img/head_img.jfif' %}" alt="" class="avatar" /></a>
										<div class="info">
											<a href="" class="nickname">茶点故事</a>
											<span>喜欢了文章 · 2小时前</span>
										</div>
									</div>
									
									<a class="title" href="">本科毕业工作四年，离职待业四个月的感悟</a>
									<p class="abstract">
	      								本科毕业四年了，待过两家公司。一家在厦门，台企；一家是在家乡，三线城市，锂电龙头。 离职四个月的经历： 1.第一个月，因为工作上没有什么成就感，...
	    							</p>
									<div class="meta">
										<a href="" target="_blank" class="nickname">Kindlers</a>
										<span>
											<img src="{% static 'img/eye.svg' %}"/>
											<span>233</span>
										</span>
										<span class="comment">
											<img src="{% static 'img/comment.svg' %}"/>
											<span>14</span>
										</span>
										<span class="collect">
											<img src="{% static 'img/like.svg' %}"/>
											<span>24</span>
										</span>
										
									</div>
								</div>
							</li>

                            <li>
								<div class="content">
									<div class="author">
										<a href="#"><img src="{% static 'img/head_img.jfif' %}" alt="" class="avatar" /></a>
										<div class="info">
											<a href="" class="nickname">茶点故事</a>
											<span>喜欢了文章 · 2小时前</span>
										</div>
									</div>

									<a class="title" href="">本科毕业工作四年，离职待业四个月的感悟</a>
									<p class="abstract">
	      								本科毕业四年了，待过两家公司。一家在厦门，台企；一家是在家乡，三线城市，锂电龙头。 离职四个月的经历： 1.第一个月，因为工作上没有什么成就感，...
	    							</p>
									<div class="meta">
										<a href="" target="_blank" class="nickname">Kindlers</a>
										<span>
											<img src="{% static 'img/eye.svg' %}"/>
											<span>233</span>
										</span>
										<span class="comment">
											<img src="{% static 'img/comment.svg' %}"/>
											<span>14</span>
										</span>
										<span class="collect">
											<img src="{% static 'img/like.svg' %}"/>
											<span>24</span>
										</span>

									</div>
								</div>
							</li>
							
							<li class="have-img">
								<a class="wrap-img" href=""><img src="{% static 'img/test0001.jpg' %}"/></a>
								<div class="content">
									<a class="title" href="">本科毕业工作四年，离职待业四个月的感悟</a>
									<p class="abstract">
	      								本科毕业四年了，待过两家公司。一家在厦门，台企；一家是在家乡，三线城市，锂电龙头。 离职四个月的经历： 1.第一个月，因为工作上没有什么成就感，...
	    							</p>
									<div class="meta">
										<a href="" target="_blank" class="nickname">Kindlers</a>
										<span class="comment">
											<img src="{% static 'img/comment.svg' %}"/>
											<span>14</span>
										</span>
										<span class="collect">
											<img src="{% static 'img/like.svg' %}"/>
											<span>24</span>
										</span>										
									</div>
								</div>
							</li>							
						</ul>
					</div>
				</div>				
			</div>
			<div class="container-right">
				<div class="title">个人介绍</div>
                {% ifequal user_info.id other_user.id %}
                    <a href="javascript:void(0);" class="function-btn"><img src="{% static 'img/write.svg' %}"/>编辑</a>
                    <form class="profile-edit" style="display: none;">
                        <textarea name=""></textarea>
                        <input type="submit" value="保存" class="btn btn-hollow"/>
                        <a href="javascript:void(0);">取消</a>
                    </form>
                {% endifequal %}
				<div class="description">
					<div class="js-intro" style="display: block;">
                        {% if other_user.intro %}
                            {{ other_user.intro }}
                        {% else %}
                            这个人比较懒，还没有个人介绍
                        {% endif %}
					</div>
				</div>
				
				<ul class="list user-dynamic">
					<li>
						<a href="{% url 'bbs:love' %}?user={{ other_user.user_id }}">
							<img src="{% static 'img/love.svg' %}"/>
							<span>{% ifequal user_info.id other_user.id %}我{% else %}他{% endifequal %}喜欢的文章</span>
						</a>
					</li>
				</ul>
			</div>
		</div>	
{% endblock %}
{% block js_content %}
	<script src="{% static 'js/info.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

